<header>
  <div class="header-container">
      <img src="/logo/logo1.png" alt="Logo" class="logo">
      <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/admin">Admin</a>
      </nav>
    </div>
  </header>
  